*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #2c2c2c;
    color: #efefef;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

.js-container {
    border: 1px solid lightblue;
    margin: 1rem;
    padding: 1rem;
}

.nested-scope {
    text-align: center;
    width: 1871px;
    border: 1px solid lightblue;
    margin: auto;
    height: 500px;
}

.w-75 {
    border: 1px solid lightblue;
    width: 75%;
    height: 400px;
    margin: .5rem auto;
}

.w-50 {
    border: 1px solid lightblue;
    width: 50%;
    height: 300px;
    margin: .5rem auto;
}

.w-25 {
    border: 1px solid lightblue;
    width: 25%;
    height: 200px;
    margin: .5rem auto;
}

.w-15 {
    border: 1px solid lightblue;
    width: 15%;
    height: 100px;
    margin: .5rem auto;
}

.w-10 {
    border: 1px solid lightblue;
    width: 10%;
    height: 50px;
    margin: .5rem auto;
}

.student-records {
    border: 1px solid lightblue;
    width: 75%;
    padding: 1rem;
    margin: 1rem auto;
}
